<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FileFlicker</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/static/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    

    <style>
      #loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      .label-width {
        width: 80px; /* 원하는 너비로 조정 */
        display: inline-block; /* 레이블을 블록으로 설정하여 너비 적용 */
      }
      .dataTable {
        font-size: 12px; /* 원하는 글씨 크기로 조정 */
      }

    </style>
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <a href="/" class="logo"><b>File</b>Flicker</a>
        <nav class="navbar navbar-static-top" role="navigation">

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="/static/img/user2-160x160.jpg" class="user-image" alt="User Image"/>
                  <span class="hidden-xs" id="profileName1">Francis Han</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header">
                    <img src="/static/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                    <p>
                      <span id="profileName2"></span> - <span id="profileRole"></span>
                      <small id="profilecreatedAt"></small>
                    </p>
                  </li>

                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat" id="myProfileBtn">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat" id="signOutBtn">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">My Assets</li>
            <li>
                <a href="/projectlist">
                  <i class="fa fa-folder"></i> <span> My Projects</span> 
                </a>
            </li>
            <li>
                <a href="/filelist">
                    <i class="fa fa-file"></i> <span> My Files</span> 
                </a>
            </li>
            <li class="active">
                <a href="/companylist">
                    <i class="fa fa-building"></i> <span> My Companies</span> 
                </a>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <section class="content-header">
          <h1 style="display: inline-block;">My Companies</h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">My Companies</li>
          </ol>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table</h3>&nbsp
                    <button class="btn btn-primary btn-sm" id="companyAdd_btn">Add</button>&nbsp
                    <button class="btn btn-info btn-sm" id="companyImport_btn" style="display: none;">Import</button>&nbsp
                </div>
                <div class="box-body">
                    <table id="companyTable" class="display table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <strong>Copyright &copy; 2025 Ylem Invest.</strong> All rights reserved.
      </footer>
    </div>

    <div class="modal fade" id="companyDetailModal" tabindex="-1" role="dialog" aria-labelledby="companyDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><span id="modalCompanyTitle">Company Details</span>&nbsp;&nbsp;<button id="deleteCompanyBtn" class="btn btn-danger btn-sm">Delete</button></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <h6 hidden>ID:</h6>
                    <p id="companyID" hidden></p>
                    
                    <h6>Company Name:</h6>
                    <input type="text" id="modalCompanyName" style="width: 100%;" />
                    <hr>
                    <h6>Company English Name:</h6>
                    <input type="text" id="modalCompanyEnName" style="width: 100%;" />
                    <hr>
                    <h6>Industry:</h6>
                    <input type="text" id="modalIndustry" style="width: 100%;" />
                    <hr>
                    <h6>Summary: <small><button class="btn btn-primary btn-sm" id="SearchBtn">Search</button>&nbsp;&nbsp;<button id="shareBtn" class="btn btn-sm btn-warning">Share</button></small></h6>
                    <textarea id="modalSummary" style="font-size: 12px; width: 100%;" rows="15"></textarea>
                    <hr>
                    <h6>Comment:</h6>
                    <textarea id="modalComment" style="font-size: 12px; width: 100%;" rows="10"></textarea>

                </div>
                <div class="modal-footer">
                    <button id="addCompanyBtn" class="btn btn-danger">Add</button>
                    <button id="updateCompanyBtn" class="btn btn-info">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingOverlay" style="display: none;">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/basic.js"></script>
    <script src="/static/js/ai_tools.js"></script>
    
    <script>
        let pLength = 25;
        let companyTable;
        let lang = 'en';
        let language = '';

        $(document).ready(async function() {
          const FFsession = getSessionFromMemory();
          let resp = await getUser(FFsession['user_id'], FFsession['session_token']);
          if (resp && resp.status == 'success') {
            ProfileModal();
            profileDataMapping(resp.data);
            lang = resp.data.language;
            language = getLanguage(lang);
          } else {
            alert('No profile');
          }

            companyTable = $('#companyTable').DataTable({
                responsive: true,
                lengthChange: true,
                info: false,
                scrollY: true,
                paging: true,
                order: [[0, 'asc']],
                serverSide: true,
                ajax: {
                    url: '/companies',
                    dataSrc: 'data',
                    beforeSend: function(xhr) {
                      xhr.setRequestHeader("Authorization", "Bearer " + FFsession['session_token']);
                    }
                },
                columns: [
                    { data: '_id', title: 'ID', visible: false }, 
                    { data: 'companyName', title: 'Name', render: function(data) { return truncateText(data, 30); } },
                    { data: 'companyEnName', title: 'Eng. Name', render: function(data) { return truncateText(data, 30); } },
                    { data: 'industry', title: 'Industry', render: function(data) { return truncateText(data, 30); } },
                    { data: 'summary', title: 'Summary', render: function(data) { return truncateText(data, 50); } },
                    { data: 'comment', title: 'Comment', render: function(data) { return truncateText(data, 50); } },
                ],
                pageLength: pLength,
                initComplete: function() {

                },
            });

            $('#SearchBtn').click(async function() {
              let comEName = $('#modalCompanyEnName').val();
              let comInd = $('#modalIndustry').val();
              let comSum = $('#modalSummary').val();
              let companyName = $('#modalCompanyName').val();
              let query = `After looking for the information and news about ${companyName} ${comEName} ${comInd} ${comSum}, summarize these in ${language}`;
              
              $('#loadingOverlay').show();
                    
              try {
                  const response = await $.ajax({
                      url: '/search/WebSearch',
                      method: 'POST',
                      contentType: 'application/json',
                      data: JSON.stringify([{
                          sessionId: '11111111',
                          action: 'sendMessage',
                          chatInput: query,
                      }]),
                      timeout: 40000 
                  });
                  console.log(response);
                  const currentSummary = $('#modalSummary').val();
                  const newSummary = response + "\n=== 기존 내용 ===\n" + currentSummary;
                  $('#modalSummary').val(newSummary);
              } catch (xhr) {
                  if (xhr.statusText === 'timeout') {
                      alert('Time Out');
                  } else {
                      const errorMessage = xhr.responseJSON ? xhr.responseJSON.error : '알 수 없는 오류 발생';
                      alert(errorMessage);
                  }
              } finally {
                  $('#loadingOverlay').hide();
              }

            });

            $('#shareBtn').click(function() {
              let comName = $('#modalCompanyName').val();
              let comEName = $('#modalCompanyEnName').val();
              let comInd = $('#modalIndustry').val();
              let comSum = $('#modalSummary').val();
              let comCom = $('#modalComment').val();

              const jsonString = `{
                  "companyName": ${comName},
                  "companyEnName": ${comEName}, 
                  "industry": ${JSON.stringify(comInd)},
                  "summary": ${JSON.stringify(comSum)},
                  "comment": ${JSON.stringify(comCom)}
              }`;

              const recipientEmail = prompt("Input the recipient email:", "example@example.com");

              $.ajax({
                  url: '/files/shareJson', 
                  method: 'POST',
                  contentType: 'application/json',
                  headers: {
                            'Authorization': 'Bearer ' + FFsession['session_token']
                          },
                  data: JSON.stringify({ email: recipientEmail, content: jsonString }), 
                  success: function(response) {
                      alert('The email has been successfully sent.'); 
                  },
                  error: function(xhr, status, error) {
                      console.error('Fail to send Email:', error);
                      alert('Email sending failed.'); 
                  }
              });
            });

            $('#companyTable tbody').on('click', 'tr', function () {

                $("#addCompanyBtn").css("display", "none");
                $("#updateCompanyBtn").css("display", "inline-block");
                $("#deleteCompanyBtn").css("display", "inline-block");
                $('#companyDetailModal').modal('show');

                const data = companyTable.row(this).data();
                $('#modalCompanyTitle').text(data.companyName);
                $('#companyID').text(data._id);
                $('#modalCompanyName').val(data.companyName);
                $('#modalCompanyEnName').val(data.companyEnName);
                $('#modalIndustry').val(data.industry);
                $('#modalSummary').val(data.summary);
                $('#modalComment').val(data.comment); 
            });

            $('#companyAdd_btn').click(function() {
                $("#addCompanyBtn").css("display", "inline-block");
                $("#updateCompanyBtn").css("display", "none");
                $("#deleteCompanyBtn").css("display", "none");
                $("#companyDetailModal").modal('show');
            });

            $('#companyImport_btn').click(async function() {
              const jsonStr = prompt("Input JSON file here:", "{.....}");
              if (!jsonStr || jsonStr.trim() === '') {
                return;
              }
              jsonObj = JSON.parse(jsonStr);

              try {
                  const response = await addCompany(jsonObj);
                  console.log(response);

                  if (response.status == 'success') { 
                      companyTable.ajax.reload();
                      alert('Company added successfully!'); 
                  } else {
                      alert('Error adding company: ' + response.message); // 서버에서 반환된 오류 메시지 표시
                  }
              } catch (error) {
                  alert(error.message); // AJAX 요청 오류 처리
              }
            });
            
            $('#updateCompanyBtn').click(async function() {
                const companyID = $('#companyID').text();
                const companyName = $('#modalCompanyName').val(); 
                const companyEnName = $('#modalCompanyEnName').val();
                const industry = $('#modalIndustry').val(); 
                const summary = $('#modalSummary').val(); 
                const comment = $('#modalComment').val(); 

                try {
                    const response = await $.ajax({
                        url: `/companies/updateCompany/${companyID}`, 
                        type: 'PUT',
                        contentType: 'application/json',
                        headers: {
                          'Authorization': 'Bearer ' + FFsession['session_token']
                        },
                        data: JSON.stringify({
                            companyName: companyName,
                            companyEnName: companyEnName,
                            industry: industry,
                            summary: summary,
                            comment: comment
                        })
                    });

                    if (response.status == 'success') { 
                        $("#companyDetailModal").modal('hide');
                        companyTable.ajax.reload();
                        DefaultCompanyInputField();
                        alert('Company added successfully!'); 

                    } else {
                        alert('Error adding company: ' + response.message); // 서버에서 반환된 오류 메시지 표시
                    }
                } catch (error) {
                    alert('Error adding company.'); // AJAX 요청 오류 처리
                }

            });

            $('#addCompanyBtn').click(async function() {
              const companyName = $('#modalCompanyName').val(); 
              const companyEnName = $('#modalCompanyEnName').val();
              const industry = $('#modalIndustry').val(); 
              const summary = $('#modalSummary').val(); 
              const comment = $('#modalComment').val(); 

              const companyData = {
                  companyName: companyName,
                  companyEnName: companyEnName,
                  industry: industry,
                  summary: summary,
                  comment: comment
              };

              try {
                  const response = await addCompany(companyData);

                  if (response.status == 'success') { 
                      $("#companyDetailModal").modal('hide');
                      companyTable.ajax.reload();
                      DefaultCompanyInputField();
                      alert('Company added successfully!'); 
                  } else {
                      alert('Error adding company: ' + response.message); // 서버에서 반환된 오류 메시지 표시
                  }
              } catch (error) {
                  alert(error.message); // AJAX 요청 오류 처리
              }
            });

            $('#companyDetailModal').on('click', '#deleteCompanyBtn', function() {
                const companyID = $('#companyID').text();  
                if (confirm("정말로 이 파일을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: `/companies/deleteCompany/${companyID}`,
                        method: 'DELETE',
                        headers: {
                          'Authorization': 'Bearer ' + FFsession['session_token']
                        },
                        success: function(response) {
                            alert('파일이 성공적으로 삭제되었습니다.');
                            DefaultCompanyInputField();
                            companyTable.ajax.reload();
                            $('#companyDetailModal').modal('hide');
                        },
                        error: function(xhr, error, thrown) {
                            alert("파일 삭제 실패: " + (xhr.responseJSON ? xhr.responseJSON.error : thrown));
                        }
                    });
                }
            });

            function DefaultCompanyInputField() {
              $('#companyID').val('');
              $('#modalCompanyName').val('');
              $('#modalCompanyEnName').val('');
              $('#modalIndustry').val('');
              $('#modalSummary').val('');
              $('#modalComment').val('');
            };

            async function addCompany(companyData) {
              try {
                  const response = await $.ajax({
                      url: '/companies/addCompany', 
                      type: 'POST',
                      headers: {
                          'Authorization': 'Bearer ' + FFsession['session_token']
                        },
                      contentType: 'application/json',
                      data: JSON.stringify(companyData)
                  });

                  return response; // 응답 반환
              } catch (error) {
                  throw new Error('Error adding company.'); // 오류 발생 시 예외 던지기
              }
            }
    });
        

    </script>

</body>

</html>













